body {
    background-color: #333333;
}

h1 {
  color: red;
  background-color: #CBE83D;
}

p {
  background-color: #666666;
  color: #ffffff;
}

.first-paragraph {
    font-size: 30px;
    font-family: Montserrat, arial, san-serif;
    border: 2px solid yellow;
    border-left: 12px solid green;
    border-bottom: 1px solid Weight:
    text-decoraton: underline;
    fontfont-style:
    poddin
    
    ;
}   



