/* General Styling */

body {
    font-family: arial, sans-serif;
    font-weight: 100;
    background-color: #F1F1F1;
    color: #333;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #d69e00;
}

a:hover {
    color: #e4b532;
}

/* Hero */

.hero {
    background-color: #16445f;
    text-align: center;
    overflow: auto;

}

.hero-card {
    border: 2px solid #fff;
    color: #efefef;
    padding: 50px;
    width: 800px;
    margin: 1000px auto 50px auto;
}